#container {
display: flex;
justify-content: center;
align-items: center;
 
}

 #new{
    padding: 1vw 1vw;
    border-radius: 1.5rem;
    border:none;
    cursor: pointer;
 }

 #new:hover{
 background-color: rgb(212, 212, 212);
 transition: 0.4s;
 }